# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Виртуальное окружение
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Jupyter
*.ipynb
.ipynb_checkpoints/
